[
 ;;rule for handcap
 {
  :db/id                      #db/id[:db.part/user -1]
  :operator/lte              999
  :operator/gte              0
  }
 ;;Rule Entity

 {
  :db/id                      #db/id[:db.part/user -2]
  :dnfRule/expression         #db/id[:db.part/user -1]
  }
 ;;--------------------golf Improvement ----------------------
 ;;question
 {
  :db/id                      #db/id[:db.part/user -2005]
  :question/type              :question/golfImprovement
  :question/demoCode          "IMP"
  :question/displayName       "GF MASS ADVANCE IMPROVE GAME"
  :question/createdBy         :magcd/GF
    :question/sourceType          "F"
  }
 ;;answers
 {
  :db/id                      #db/id[:db.part/user -20004]
  :question/type              :question/golfImprovement
  :answer/quantityType        "S"
  :answer/quantity             1
  :answer/displayName         "DRIVING GAME"
  :answer/golfImprovement     :golfImprovement/ONE
  }

 ;; guuid-SHORT-GAME
 {
  :db/id                      #db/id[:db.part/user -20006]
  :question/type              :question/golfImprovement
  :answer/quantityType        "S"
  :answer/quantity             2
  :answer/displayName         "SHORT GAME"
  :answer/golfImprovement     :golfImprovement/TWO
  }

 ;; guuid-PUT-GAME
 {
  :db/id                      #db/id[:db.part/user -20005]
  :question/type              :question/golfImprovement
  :answer/quantityType        "S"
  :answer/quantity             3
  :answer/displayName         "PUTTING GAME"
  :answer/golfImprovement     :golfImprovement/THREE
  }
 ;; guuid-imp-ukn
 {
  :db/id                      #db/id[:db.part/user -20008]
  :question/type              :question/golfImprovement
  :answer/quantityType         "S"
  :answer/unknown             true
  :answer/quantity            4
  :answer/quantityAlias       0
  :answer/displayName         "DEFAULT VALUE"
  :answer/doNotShow            true
  }
 ;;*******AIM1****
 ;; imp-ss-DEFAULT-IMPROVEMENT
 {
  :db/id                      #db/id[:db.part/user -20205]
  :sizeOfSelection/dnfRule    :rule/one
  :system/demoOffer           :demoOffer/AIM1
  :sampleSpace/dateAdded        #inst "2015-12-22T00:00:00Z"
  :sampleSpace/dateModified     #inst "2016-03-25T00:00:00Z"
  :sampleSpace/lastModifiedBy  :user/XAT
  :sampleSpace/recordType     :recordType/P
  :sampleSpace/override       :override/I
  :answerSet/answer           [#db/id[:db.part/user -20008] #db/id[:db.part/user -20004]
                               #db/id[:db.part/user -20006] #db/id[:db.part/user -20005]]
  }
 ;; IMP - form
 {
  :db/id                       #db/id[:db.part/user -20405]
  :form/question               #db/id[:db.part/user -2005]
  :form/sampleSpace            #db/id[:db.part/user -20205]
  }
 ;;**********IIM1********
 ;; imq-ss-DRIVER-GAME
 {
  :db/id                      #db/id[:db.part/user -20202]
  :sizeOfSelection/dnfRule    :rule/one
  :answerSet/answer           [#db/id[:db.part/user -20004]]
    :system/demoOffer         :demoOffer/IIM1
    :sampleSpace/dateAdded      #inst "2016-11-21T00:00:00Z"
   :sampleSpace/lastModifiedBy  :user/XPC
   :sampleSpace/recordType     :recordType/P
   :sampleSpace/override       :override/I
  }
 ;; IIM1 - form
 {
  :db/id                       #db/id[:db.part/user -20402]
  :form/question               #db/id[:db.part/user -2005]
  :form/sampleSpace            #db/id[:db.part/user -20202]
  }

 ;;**********IIM2********
 ;; imr-ss-SHORT-GAME
 {
  :db/id                      #db/id[:db.part/user -20204]
  :sizeOfSelection/dnfRule    :rule/one
  :answerSet/answer           [#db/id[:db.part/user -20006]]
  :system/demoOffer         :demoOffer/IIM2
  :sampleSpace/dateAdded      #inst "2016-11-21T00:00:00Z"
     :sampleSpace/lastModifiedBy  :user/XPC
     :sampleSpace/recordType     :recordType/P
     :sampleSpace/override       :override/I
  }
 ;; form - IIM2
 {
  :db/id                       #db/id[:db.part/user -20404]
  :form/question               #db/id[:db.part/user -2005]
  :form/sampleSpace            #db/id[:db.part/user -20204]
  }
 ;;**********IIM3********
 ;; ims-ss-PUT-GAME
 {
  :db/id                      #db/id[:db.part/user -20203]
  :sizeOfSelection/dnfRule    :rule/one
  :answerSet/answer           [#db/id[:db.part/user -20005]]
    :system/demoOffer         :demoOffer/IIM3
    :sampleSpace/dateAdded      #inst "2016-11-21T00:00:00Z"
       :sampleSpace/lastModifiedBy  :user/XPC
       :sampleSpace/recordType     :recordType/P
       :sampleSpace/override       :override/I
  }
 ;;form - IIM3
 {
  :db/id                       #db/id[:db.part/user -20403]
  :form/question               #db/id[:db.part/user -2005]
  :form/sampleSpace            #db/id[:db.part/user -20203]
  }
 ;;REPORT IMP
 {
  :db/id                     #db/id[:db.part/user -960121]
  :question/type             :question/golfImprovement
  :constraint/dnfRule         :rule/storeMax999
  :report/demoType            "M"
  }
 ;;--------------------golf handcap score ----------------------
 ;;question
 {
  :db/id                      #db/id[:db.part/user -2001]
  :question/type              :question/golfHdcapScore
  :question/demoCode          "HCP"
  :question/displayName       "GOLF HANDICAP SCORE"
  :question/createdBy         :magcd/GF
    :question/sourceType          "F"
  }
 ;;answer
 {
  :db/id                      #db/id[:db.part/user -20002]
  :question/type              :question/golfHdcapScore
  :answer/quantityType        "S"
  :answer/displayName         "Enter a score - MUST BE 0 TO 999"
  :answer/dnfRule             #db/id[:db.part/user -2]
  }
 ;; sample space
 {
  :db/id                      #db/id[:db.part/user -20201]
  :sizeOfSelection/dnfRule    :rule/one
  :answerSet/answer           [#db/id[:db.part/user -20002]]
   :system/demoOffer          :demoOffer/AHC1
   :sampleSpace/dateAdded      #inst "2016-01-07T00:00:00Z"
   :sampleSpace/dateModified      #inst "2016-02-10T00:00:00Z"
      :sampleSpace/lastModifiedBy  :user/XAT
      :sampleSpace/recordType     :recordType/P
      :sampleSpace/override       :override/I
  }
 ;;hcp-form
 {
  :db/id                       #db/id[:db.part/user -20401]
  :form/question               #db/id[:db.part/user -2001]
  :form/sampleSpace            #db/id[:db.part/user -20201]
  }
 ;;report
 {
  :db/id                     #db/id[:db.part/user -960119]
  :question/type             :question/golfHdcapScore
  :constraint/dnfRule         :rule/storeMax999
  :report/demoType            "M"
  }

 ;;--------------------challenge USA----------------------
 ;;question
 {
  :db/id                      #db/id[:db.part/user -211]
  :question/type              :question/challengeUSA
  :question/demoCode           "CHL"
  :question/displayName        "THE CHALLENGE USA"
  :question/createdBy         :magcd/GF
  :question/sourceType          "O"
  }
 ;;answer
 {
  :db/id                     #db/id[:db.part/user -111]
  :question/type              :question/challengeUSA
  :answer/unknown             true
  :answer/displayName         "UNKNOWN"
  }
 ;;sample space
 {
  :db/id                       #db/id[:db.part/user -301]
  :sizeOfSelection/dnfRule     :rule/one
  :answerSet/answer            [#db/id[:db.part/user -111]]
   :system/demoOffer            :demoOffer/CHLG
   :sampleSpace/dateAdded      #inst "2005-09-12T00:00:00Z"
   :sampleSpace/lastModifiedBy  :user/XFL
   :sampleSpace/recordType     :recordType/P
   :sampleSpace/override       :override/I
  }
 ;;form
 {
  :db/id                       #db/id[:db.part/user -411]
  :form/question               #db/id[:db.part/user -211]
  :form/sampleSpace             #db/id[:db.part/user -301]
  }
 ;;report
 {
  :db/id                     #db/id[:db.part/user -960023]
  :question/type             :question/challengeUSA
  :constraint/dnfRule         :rule/storeMax999
  :report/demoType            "S"
  }


  ;; group all form entities
    {
      :db/id                      #db/id[:db.part/user -503]
      :system/magcd               :magcd/GF
      :allQuestions/form          [
                                    ;; ACH1 form
                                    #db/id[:db.part/user -20401]
                                    ;; AIM1 form
                                    #db/id[:db.part/user -20405]


                                    #db/id[:db.part/user -411]

                                    #db/id[:db.part/user -20402]
                                    #db/id[:db.part/user -20403]
                                    #db/id[:db.part/user -20404]

                                   :form/regESelectionRG0
                                   :form/regESelectionDRG
                                   :form/regESelection

                                  ]
      :doNotShow/form             [

                                    #db/id[:db.part/user -411]
                                    #db/id[:db.part/user -20402]
                                    #db/id[:db.part/user -20403]
                                    #db/id[:db.part/user -20404]

                                   :form/regESelectionRG0
                                   :form/regESelectionDRG
                                   :form/regESelection

                                  ]
    }
]








